
html, body{
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 300;
}

li {
  list-style-type: none; /* Removes bullets */
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-left: -30px
}


li::first-line {
  font-weight: bold;
  font-size 1.0em;
}

a{
  color: lightblue;
  text-decoration: none;
}

em{
    font-size: 0.9em;
}

h4{
    font-weight: 300;
    margin-top: 40px;
}


