<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="
    {% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta charset="utf-8">

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date; ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <!-- Google Analytics -->
    
    <link rel="stylesheet" href="{{ site.url }}/assets/css/screen.css" type="text/css" />
    
</head>
