
  <nav id="logo-and-nav">
    <div id="logo"><a href="{{ site.url }}/index.html">
    <span class="heavy">fractured</span><span class="light">software</span></a></div>
    <div id="menu-item"><a href="{{ site.url }}/index.html">MacSim</a></div>
    <div id="menu-item"><a href="{{ site.url }}/pages/othersoftware.html">Other Software</a></div>
    <div id="menu-item"><a href="{{ site.url }}/pages/resources.html">Resources</a></div>
    <div id="menu-item"><a href="{{ site.url }}/pages/support.html">Support</a></div>
    <div id="menu-item"><a href="{{ site.url }}/blog/blog.html">Blog</a></div>
  </nav>

