// This is a partial.

#article-heading{
    padding:25px 0px 5px 0px;
    font-size: 26px;
    font-weight: 300;
    color: $charcoal;
   // border: 1px solid $ruler-line-color;
}

#blog-date{
    padding:5px 0px;
    font-size: 16px;
    font-weight: 400;
    color: $nav-color;
  //  border: 1px solid $ruler-line-color;
}
