// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.


$max-content-width: 810px;
$min-content-width: 700px;
$margin-offset: 50px;

$container-side-padding: 70px;
$container-shadow: 1px 5px 5px 5px #888888; // remove with auto

$charcoal: #36454F;
$nav-color:#888;
$ruler-line-color:#d2d0d0;