// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

html, body{
    margin:0;
    padding:0;
    width: 100%;
    height: calc(100% - #{$margin-offset});
}

#container{
    min-height: 100%;
    margin: $margin-offset auto;
    max-width:$max-content-width;
    min-width:$min-content-width;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px $container-side-padding;
    box-shadow: $container-shadow;
}

#main{
    flex-grow: 1;
    flex-shrink: 0;
}

#footer{
    flex-shrink: 0;
    margin: 20px 0px;
}

