---
layout: default
---
<div id="name-and-download">
    <div id="name">{{ page.title }}</div>
    <div id="download">
        <a href="{{site.url | append:page.download-url}}">{{page.download-text}}</a>
    </div>
</div>

{% if page.notice != null %}
    <div id="notice">
        {{ page.notice | markdownify }}
    </div>
{% endif %}

<div id="image">
    <img src="{{site.url | append:page.image}}" alt="{{page.image-alt}}">
</div>

{{ page.blurb | markdownify }}

 FEATURES

 <section id="multi-column">
    <div id="leftPanel">
    {{page.features1 | markdownify}}
    </div>
    <div id="rightPanel">
     {{page.features2 | markdownify}}
    </div>
</section>

<div id="requirements">
    {%assign licence = "__Licence__ - " | append:page.licence %}
    {%assign version = "    __Current Version__ - " | append:page.version %}
    {% assign requires = "    __System Requirements__ - " | append:page.requires %}
    {{ licence | append:version | append:requires | markdownify }}
    {% if page.info != null %}
        {{ page.info | markdownify }}
    {% endif %}  
</div>



